<!DOCTYPE html>
<html>
<head>
    <title>MQTT client</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<div class="row">
    <div class="col-xs-5">
        <button class="btn btn-success" id="ON">ON</button>
    </div>
    <div class="col-xs-5">
        <button class="btn btn-danger" id="OFF">OFF</button>
    </div>
    <div class="col-xs-2">
        <div class="label label-info">55</div>
    </div>
    <div class="well-sm"></div>
</div>
<script src="javascripts/jquery-3.2.1.min.js"></script>
<script src="javascripts/socket.io.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/moment.js"></script>
<script src="javascripts/myscript.js"></script>
</body>
</html>
<!--https://stackoverflow.com/questions/41685299/mqtt-client-not-working-->
<!--https://blog.risingstack.com/getting-started-with-nodejs-and-mqtt/-->
<!--https://npm.runkit.com-->