<!DOCTYPE html>
<html>
<head>
    <title>MQTT client</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="row">
    <div class="row">
        <div class="col-lg-1">
            <button class="btn btn-success">ON</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-danger">OFF</button>
        </div>
    </div>
</div>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/moment.js"></script>
<script src="javascripts/myscript.js"></script>
</body>
</html>
<!--https://stackoverflow.com/questions/41685299/mqtt-client-not-working-->
<!--https://blog.risingstack.com/getting-started-with-nodejs-and-mqtt/-->
<!--https://npm.runkit.com-->